body{
    margin: 0;
    padding: 0;
    background-color: #3f3e37;
    height: 100vh;
   
}
hr{
    width: 95%;
}
main{
    
    height: 1200px;
    position: relative;
}
header{
    background-color: black;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;


}
h1{
    color: white;
    font-size: 50px;

}
button{
    width: 120px;
    height: 40px;
    font-size: 20px;
    background-color:#CC9544 ;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 120px;

}
button a{
    text-decoration: none;
    color:rgba(14, 14, 14, 0.902) ;
    
}
.social-media{
   
    font-size: 30px;
    display: flex;
    gap: 20px;
}
.social-media a{
    color: rgb(57, 151, 183);

}
.social-media a:hover{
    color: aliceblue;}
.pastries-blackboard{
    position: absolute;
    right: 80px;
    color:rgba(0, 0, 0, 0.902) ;
    font-size: 35px;
    font-weight: 900;
    
    top: 20px;
    right: 20px;
    text-align: center;
   
}
.pastries-blackboard li{
    list-style-type: none;
    line-height:60px ;
}

.croasan img{
    width: 400px;
   margin:30px 0px 0px 40px;

}
.danish img{
    width: 350px;
    height: 300px;
    margin: 20px 0px 0px 140px;
    border-radius: 10px;

}
.bagel img{
    width: 380px;
    height: 500px;
    background-size: contain;
  
    margin-top: 15px;
    margin-left: 70px;
    border-radius: 10px;

}
.cinnamon img{
    width: 410px;
    position: absolute;
    top: 580px;
    right: 220px;

}
.blackboard {
    width: 400px;
    height: 540px;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 10px;
   
    background-image: url(images/blackboard-pastry.jpg);

}
.scones img{
    position: absolute;
    right: 120px;
    bottom: 10px;
    border-radius: 10px;

}
.muffins img{
    width: 270px;
    height: 300px;
    position: absolute;
    right: 460px;
    top: 240px;
    border-radius: 10px;
  

}
.top-logo img{position: absolute;
    top:30px;
    left: 520px;
    width: 170px;
    border-radius: 51%;

}
footer{
    
    height: 60px;
    background-color:rgb(4, 4, 22) ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:#F0ECE3 ;
    font-size: 18px;
    font-family: 'BIZ UDGothic', sans-serif;

}

/* media queries*/

@media screen and (max-width: 1250px){

    .danish img{
        margin-left: 4%;
    }
}

@media screen and (max-width: 1200px){


    .croasan img{
        width: 30%;
    }
}


@media screen and (max-width: 1150px){
    .scones img{
        right: 2%;
    }
    .bagel img{
       height: 300px;
       margin-top: 28%;
       margin-left: 5%;
    }
    .cinnamon img{
        right: 3%;
        top: 50%;
    }
    .muffins img{
        top: 50%;
        height: 20%;
        width: 35%;
        left: 5%;
    }
    .top-logo img{
        left: 40%;
    }


}

@media screen and (max-width: 1030px){

    .top-logo img{
        left: 39%;
        height: 10%;
        width: 12%;
    }
    .scones img{
        width: 45%;
    }
    .bagel img{
        margin-top: 32%;

    }
    
}

@media screen and (max-width: 955px){


    .muffins img{
        top: 47%;

    }
    .bagel img{
        margin-top: 37%;

    }

}
@media screen and (max-width: 900px){


    .top-logo img{
        left: 38%;
        height: 8%;
        width: 10%;
    }
    .bagel img{
        margin-top: 40%;
        width: 40%;

    }

}

@media screen and (max-width: 850px){

    .top-logo img{
        left: 40%;
        height: 6%;
        width: 9%;
    }
    .blackboard{
        width: 40%;
    }
    .cinnamon img{
        width: 45%;
    }

}

@media screen and (max-width: 800px){
    h1{
        font-size: 40px;
        margin-left: 20%;
    }
    .scones img{
        height: 25%;
    }
}

@media screen and (max-width: 760px){
    button{
        margin-left: 15%;
      
    }
    h1{
        margin-left: 5%;
    }
    .danish img{

        width: 45%;

    }
    .muffins img{
        height: 18%;
        top: 44%;
    }
    footer{
        font-size: 15px;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }
}










@media screen and (max-width: 430px){

    body{
        height: 100vh;
    }
    header{
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
        height: 15%;
    }
    .social-media{
        font-size: 20px;
        gap: 5%;
        position: absolute;
        right: 5%;
        top: 5%;
        width:28% ;
    }
    button{
        position: absolute;
        right:5% ;
        height: 35%;
        width:28% ;
    }
    h1{
        font-size: 40px;
    }
    main{
        position: relative;
    }
    .top-logo img{
        position: absolute;
        left: 37%;
        height: 8%;
        width: 25%;
        top: 0%;
        
      
        
    }
    .blackboard {
        width: 80%;
        height: 22%;
        position: absolute;
        top: 9%;
        right: 9%;
        border-radius: 10px;
    }

    .pastries-blackboard li{
        font-size: 20px;
        height: 30%;
        line-height: 32px;
       
      
      
    }
    ul{
        margin-top: 10px;
    }
    .pastries-blackboard{
        height: 30%;
        

    }
    .croasan img{
        width: 33%;
        height: 10%;
        margin-left: 0px;
        position: absolute;
        left: 10%;
      
        top: 43%;
    }
    .danish img{
        width: 80%;
        height: 15%;
        position: absolute;
       right: 10%;
       bottom: 13%;
    }
    .muffins img{
        position: absolute;
        height: 11%;
        width: 47%;
        left: 45%;
        top: 45%;
       
    }
    .scones img{
        position: absolute;
       height: 11%;
       right: 10%;
       width: 80%;
    
    }
    .cinnamon img{
        height: 14%;
        right: 10%;
        width: 80%;
        top: 57%;
        position: absolute;
    }
    .bagel img{
        width: 80%;
        margin: 0px;
        background-size: cover;
        height: 150px;
        left: 10%;
        position: absolute;
        top: 32%;
    }
    footer{
       height: 17%; 
       flex-direction: column;
       justify-content: space-around;
      
    
    }



}






@media screen and (max-width: 380px){

    body{
        height: 100vh;
    }
    header{
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
        height: 15%;
    }
    .social-media{
        font-size: 20px;
        gap: 5%;
        position: absolute;
        right: 5%;
        top: 5%;
        width:28% ;
    }
    button{
        position: absolute;
        right:5% ;
        height: 35%;
        width:28% ;
    }
    h1{
        font-size: 40px;
    }
    main{
        position: relative;
    }
    .top-logo img{
        position: absolute;
        left: 37%;
        height: 8%;
        width: 25%;
        top: 0%;
        
      
        
    }
    .blackboard {
        width: 80%;
        height: 22%;
        position: absolute;
        top: 9%;
        right: 9%;
        border-radius: 10px;
    }

    .pastries-blackboard li{
        font-size: 20px;
        height: 30%;
        line-height: 32px;
       
      
      
    }
    ul{
        margin-top: 10px;
    }
    .pastries-blackboard{
        height: 30%;
        

    }
    .croasan img{
        width: 33%;
        height: 10%;
        margin-left: 0px;
        position: absolute;
        left: 10%;
      
        top: 43%;
    }
    .danish img{
        width: 80%;
        height: 15%;
        position: absolute;
       right: 10%;
       bottom: 13%;
    }
    .muffins img{
        position: absolute;
        height: 11%;
        width: 47%;
        right: 7%;
        top: 45%;
       
    }
    .scones img{
        position: absolute;
       height: 11%;
       right: 10%;
       width: 80%;
    
    }
    .cinnamon img{
        height: 14%;
        right: 10%;
        width: 80%;
        top: 57%;
        position: absolute;
    }
    .bagel img{
        width: 80%;
        margin: 0px;
        background-size: cover;
        height: 150px;
        left: 10%;
        position: absolute;
        top: 32%;
    }
    footer{
       height: 17%; 
       flex-direction: column;
       justify-content: space-around;
      
    
    }
    



}


@media screen and (max-width: 365px){

    body{
        height: 100vh;
    }
    header{
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
        height: 15%;
    }
    .social-media{
        font-size: 20px;
        gap: 5%;
        position: absolute;
        right: 5%;
        top: 5%;
        width:28% ;
    }
    button{
        position: absolute;
        right:5% ;
        height: 35%;
        width:28% ;
    }
    h1{
        font-size: 40px;
    }
    main{
        position: relative;
    }
    .top-logo img{
        position: absolute;
        left: 37%;
        height: 8%;
        width: 25%;
        top: 0%;
        
      
        
    }
    .blackboard {
        width: 80%;
        height: 22%;
        position: absolute;
        top: 9%;
        right: 9%;
        border-radius: 10px;
    }

    .pastries-blackboard li{
        font-size: 20px;
        height: 30%;
        line-height: 32px;
       
      
      
    }
    ul{
        margin-top: 10px;
    }
    .pastries-blackboard{
        height: 30%;
        

    }
    .croasan img{
        width: 33%;
        height: 10%;
        margin-left: 0px;
        position: absolute;
        left: 10%;
      
        top: 43%;
    }
    .danish img{
        width: 80%;
        height: 15%;
        position: absolute;
       right: 10%;
       bottom: 13%;
    }
    .muffins img{
        position: absolute;
        height: 11%;
        width: 47%;
        right: 7%;
        top: 45%;
       
    }
    .scones img{
        position: absolute;
       height: 11%;
       right: 10%;
       width: 80%;
    
    }
    .cinnamon img{
        height: 14%;
        right: 10%;
        width: 80%;
        top: 57%;
        position: absolute;
    }
    .bagel img{
        width: 80%;
        margin: 0px;
        background-size: cover;
        height: 150px;
        left: 10%;
        position: absolute;
        top: 32%;
    }
    footer{
       height: 17%; 
       flex-direction: column;
       justify-content: space-around;
      
    
    }

    @media screen and (max-width: 325px){

        button{
            height: 40%;
            font-size: 15px;
        }
    }
    
}

