body{
    margin: 0;
    padding: 0;
    background-color: black;
}
header{
    height:120px;
    background-color:#876445;
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding-right: 10px;
   padding-left: 10px;

}
em{
    font-size: 35px;
    text-decoration:solid;
    font-weight: 900;
   
}
.message{
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    color:rgba(2, 11, 55, 0.902) ;

}
.adress{
    font-size: 25px;

}
.social-media{
    font-size: 25px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    

}
.social-media a{
    color:rgba(2, 11, 55, 0.902) ;
}
.social-media a:hover{
    color: aliceblue;
}
button{
    width: 110px;
    height: 40px;
    font-size: 20px;
    background-color:#CC9544 ;
    border-radius: 5px;
   

}
a{
    text-decoration: none;
    color:rgba(14, 14, 14, 0.902) ;
}
main{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    background-image: url(images/new-cover.jpg) ;
   
  
}
.top-foot{
    height: 20px;
    background-color: black;
    display: flex;
    
    
}
hr{
    width: 95%;
    background-color:rgb(17, 17, 55) ;
    border: 1px black solid;
  
  
   
   
 
   
    
}
footer{
    height: 60px;
    background-color:rgb(4, 4, 22) ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:#F0ECE3 ;
    font-size: 18px;
    font-family: 'BIZ UDGothic', sans-serif;

   
}
/*media queries*/





@media screen and (max-width: 1000px){
    header{
        position: relative;
        justify-content:space-between;
        padding-left: 30px;
        padding-right: 210px;
      
    }
    button{
        position: absolute;
       right: 30px;
       bottom: 2px;
    }
    .social-media{
        position: absolute;
        right:10px;
        top: 10px;  
    }

}
    @media screen and (max-width: 870px){


    header{
        position: relative;
    }

     .message{
         text-align: left;
     }

     .social-media{
        position: absolute;
        right: 300px;
        top: 85px;
     }
     .adress{
        position: absolute;
        top: 10px; 
        right: 10px;
     }


    }
    @media screen and (max-width: 760px){

        .adress{
            opacity: 0;
            position: absolute;
            left: 120px;
            top: 20px;
            font-size: 40px;
            color: white;
        }
        .social-media{
            left: 10px;
        }
        header{
            padding:0px 0px 20px 240px;
        }
        .message{
            cursor:pointer;
        }
        .message:hover {
           display: none;
        
          

        }
        .message:hover + .adress{
            opacity: 100%;
           
        }
}

@media screen and (max-width: 650px){
      .message{
          position: absolute;
          left: 10px;
      }
      .adress{
          left: 20px;
          top: 50px;
          font-size: 30px;
      }
     
      .social-media{
       top: 20px;
        left: 70%;
        margin-right: 2%;
        }
        button{
            margin-right: 2%;
        }
        
}

@media screen and (max-width:570px){

footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}




}





@media screen and (max-width:500px){

    .social-media{
        font-size:10x;
        
        width: 110px;

    }
    .message{
        height: 140px;
        padding-top: 40px;
        width: 200px;
        padding-bottom: 5px;
        line-height: 30px;
    }
    .adress{
        width: 300px;
    }


}
@media screen and (max-width:500px){

button{width: 90px;
    height: 35px;
    
    margin-bottom: 10px;
   right: 5px;

}
button a{
    font-size: 18px;
}
.adress{
    left: 5px;
}
footer{
    gap: 10px;
    padding-bottom: 7px;
   
}

}

@media screen and (max-width:330px){
   
.social-media{
    left: 210px;
    top: 5px;
}
.adress{
    top: 45px;
}

.message{
    height: 140px;
    font-size: 20px;
    padding-bottom: 15px;
}    
    
button a{
    font-size: 15px;
}
button{
    height: 30px;
}
footer{
    gap: 7px;
}


}
